###
# Unity folders and files
###
Yolt/[Aa]ssets/AssetStoreTools*
Yolt/[Bb]uild/
Yolt/[Ll]ibrary/
Yolt/[Ll]ocal[Cc]ache/
Yolt/[Oo]bj/
Yolt/[Tt]emp/
Yolt/[Uu]nityGenerated/
# file on crash reports
Yolt/sysinfo.txt
# Unity3D generated meta files
Yolt/*.pidb.meta

###
# VS/MD solution and project files
###
Yolt/[Ee]xportedObj/
Yolt/*.booproj
Yolt/*.csproj
Yolt/*.sln
Yolt/*.suo
Yolt/*.svd
Yolt/*.unityproj
Yolt/*.user
Yolt/*.userprefs
Yolt/*.pidb
Yolt/.DS_Store

###
# OS generated
###
Yolt/.DS_Store
Yolt/.DS_Store?
Yolt/._*
Yolt/.Spotlight-V100
Yolt/.Trashes
Yolt/Icon?
Yolt/ehthumbs.db
Yolt/Thumbs.db